@font-face{
    font-family: "Titillium";
    src: url("Titillium/Titillium-Regular.otf");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: "Titillium";
    src: url("Titillium/Titillium-bold.otf");
    font-weight: bold;
    font-style: normal;
}
body {
    background-color: #F5FFE1;
    box-sizing: border-box;
    font-family: "Titillium";
}
.bookmark-button {
    background-color: bisque; 
    float:right;
    height: 28px;
    margin-right: 5%;
    margin-top: 6px;
    text-align: center;
    text-indent: 0;
    width: 28px;
      
}
.bottom-of-page {
    bottom:0;
    position: fixed;
    width: 100%;
}
.checkpoint-canvas {
    background-color:aqua;
    left:15%;
    position: absolute;
    top: 15px;
}
.condensed-workout {
    background-color: #445745;
    color: floralwhite;
}
.dark-green-box {
    background-color: #677F47;
    height: 3em;
}
.image-overlay-container {
    height:300px;
    width:300px;
    
}
.navbar {
    color: #FFFFFF;
    height:3em;
    margin: 0 auto;
    width: 80%;   
}
.navitem {
    height: 3em;
}

.navitem > a {
    align-items: center;
    color:#FFFFFF;
    display:inline-flex;
    font-size:1.5em;
    height:100%;
    text-decoration: none;
    
}
.no-margin {
    margin: 0;
}
.podcast-description, .podcast-image {
    display: block;
    height:300px;
    position: absolute;
    width:300px;
}
.podcast-description {
    background-color: rgba(115, 115, 115, .9);
    box-sizing: padding-box;
    color: #FFFFFF;
    display: none;
    padding: 10px 10px 0 10px;
    z-index:10;
}
.podcast-episode-table {
    display: none;
    position: absolute;
    z-index: 50;
}
.podcast-episode-table thead {
    width: 86%;   
}
.podcast-episode-table tr {
    cursor: pointer;
}
.podcast-tile {
    display: inline-block;
    margin: 2% 3%;
    width:300px;
    
}
.pure-g [class*="pure-u"] {
    font-family: "Titillium";   
}
.pure-table tr {
    width: 86%;   
}
.siteid {
    font-size: 3em;
    font-weight: bold;
    margin: 0 auto;
    width: 80%;  
}
.siteidtext {
    padding: 0 1em;
}
.siteidtext > a {
    color:#000000;
    text-decoration: none;
}
.tile-collapsed {
    height: 350px;
    
}
.tile-expanded {
    height: 600px;
    
}
.table-collapsed {
    display:none;
    
}
.table-expanded {
    display:block;
    left:0;
    height: 300px;
    overflow: scroll;
    padding-top: 0;
    position: absolute;
    width:100%;
}
#example {
    margin: 0 auto;
    width:80%;
}
#header-section {
    position:relative;
    width:100%;
}
#main-content {
    display: inline-block; 
    position: fixed;
    right: 0;
    width: 86%;   
}
/*============Nav css================== */

#menu {
    background: #191818;
    bottom: 0;
    display: inline-block;
    height:100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    -webkit-overflow-scrolling: touch;
    width: 14%;
    z-index: -1; /* so the menu or its navicon stays above all content */
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
        text-decoration: none;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #1f8dd6;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #fff;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        color: #fff;
        margin: 0;
    }
/*============End Nav css=============== */