<!DOCTYPE html>
<html>
<head>
    <title>Cast Everywhere</title>
    <link href="/style/pure.css" rel="stylesheet" type="text/css"/>
    <link href="/style/main.css" rel="stylesheet" type="text/css"/>
    <link href="/style/jplayer.blue.monday.css" rel="stylesheet" type="text/css"/>
    <script src="/build/scripts/jquery.js"></script>
    <script src="/build/scripts/jquery.jplayer.js"></script>
    <script src="/build/scripts/jplayerinstance.js"></script>
    <script src="https://fb.me/react-0.14.5.js"></script>
    <script src="https://fb.me/react-dom-0.14.5.js"></script>
    
</head>
<body>
    <header id="menu"></header>
    <script src="/build/scripts/side-nav.js"></script>
    <section id="main-content"></section>
    <script src="/build/scripts/my-subscriptions.js"></script>
    <div id="player-div"></div>
    <script src="/build/scripts/test-audio-page.js"></script>
</body>
</html>