<!DOCTYPE html>
<html>
<head>
    <title>Cast Everywhere</title>
    <link href="/style/pure.css" rel="stylesheet" type="text/css"/>
    <link href="/style/main.css" rel="stylesheet" type="text/css"/>
    <script src="https://fb.me/react-0.14.5.js"></script>
    <script src="https://fb.me/react-dom-0.14.5.js"></script>
</head>
<body>
    <header id="menu"></header>
    <script src="/build/scripts/side-nav.js"></script>
    <div id="main-content"></div>
    <script src="/build/scripts/userRegister.js"></script>
    
</body>
</html>